<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{!-- <title>{{t slug}}</title> --}}
  <!-- Page Meta -->
  <title></title>
  <meta name="description" content="" />


  <link rel="stylesheet" href="/styles/{{{assetPath "main.css"}}}">

</head>

<body class=''>

  <img src="/images/{{{assetPath "logo.svg"}}}"/>

  <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="/scripts/{{{assetPath 'main.js'}}}"></script>


</body>

</html>
